<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/f6bdca605d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <section class="main-nav">
        <div class="header-arriba">
            <div id="logo-mercado-liebre">
                <img src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
            </div>
            <div id="barra-de-busqueda">
                <input type="text" id="searchterm" placeholder="Buscar productos, marcas" />
                <i id="search" class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="header-medio">    
            <p id="compra-en-cuotas"><i id="manito" class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        </section> 
        <nav class="header-abajo">    
            <ul class="lista-izquierda">
                <li><a href="/views/ofertas.html"> Ofertas</a></li>
                <li><a href="/views/tiendas-oficiales.html">Tiendas Oficiales</a></li>
                <li><a href="/views/vender.html">Vender</a></li>
                <li><a href="/views/ayuda.html">Ayuda</a></li>
            </ul>
            <ul class="lista-derecha">
                <li><a href="/register">Creá tu cuenta</a><i id="iconoMargen" class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i id="iconoMargen" class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="/views/mis-compras.html">Mis compras</a><i id="iconoMargen" class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i id="icono" class="fas fa-bars"></i>
        </div>
        <section class="bannerBox">
            <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
        </section>
    </header>
    <main class="main">
        <h4 class="titulares">Basado en tu última visita</h4>
        <div class="contenedor-visitas">
            <article class="articulos">
                <img width="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articulos">
                <img width="300px" src="/images/img-macbook-pro-2019.jpg" alt="computadora macbook pro 2019">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="articulos">
                <img width="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="celular samsung galaxy s10">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articulos">
                <img width="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor tv samsung smart">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
        <h4 class="titulares">Ofertas</h4>
        <div class="contenedor-ofertas">
            <article class="articulos">
                <img width="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="descripciones">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articulos">
                <img width="300px" src="/images/img-macbook-pro-2019.jpg" alt="computadora macbook pro 2019">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="descripciones">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="articulos">
                <img width="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="celular samsung galaxy s10">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articulos">
                <img width="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor tv samsung smart">
                <div class="mod1">
                    <div class="responsiveEnvio">
                        <i id="envio" class="fa-solid fa-truck"></i>
                    </div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="descripciones">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </div>
    </main>
    <footer class="main-footer">
        <div class="contenedor-footer">
            <div class="contenedor1">
                <i id="logosAzul" class="fa-solid fa-credit-card fa-2xl"></i>
                <h4 class="centradoH4">Pagá con tarjeta o en efectivo</h4>
                <p class="centrado">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="contenedor2">
                <i id="logosAzul" class="fa-solid fa-gift fa-2xl"></i>
                <h4 class="centradoH4">Envío gratis desde $ 2.500</h4>
                <p class="centrado">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="contenedor3">
                <i id="logosAzul" class="fa-solid fa-user-shield fa-2xl"></i>
                <h4 class="centradoH4">Seguridad, de principio a fin</h4>
                <p class="centrado">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>    
            <h4 id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
</body>
</html>
